@charset "UTF-8";
@import "reset.css";


/* CSS Document */

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('fonts/Caviar_Dreams_Bold-webfont.eot');
    src: url('fonts/Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/Caviar_Dreams_Bold-webfont.woff') format('woff'),
    url('fonts/Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
    url('fonts/Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
	----------------------------
	HTML SELECTORS
	____________________________
*/

.ac {
    margin: 0 auto;
    /*position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 50%;*/
}
body { font-family: 'caviar_dreamsbold', Helvetica; text-align: center; }
/*body { background: #333; font:14px/21px 'caviar_dreamsbold', Helvetica, Arial, sans-serif; color: #333; margin: 0; padding: 0; }*/
/*a { color: #ccc; text-decoration: underline; }*/
/*a:hover { color: #fb2b2b; }*/
h1, h2 { padding-top:10%; font-size: 5em; line-height: 3em; font-weight: normal; letter-spacing: -1px; color: #fff; text-shadow: 1px 1px 6px rgba(0, 0, 0, 1);; }
/*h3 { font-size: 18px; font-weight: normal; margin: 8px 0; }*/
/*h4 { font-size: 14px; font-weight: normal; margin: 0; }*/
/*h5 { font-size: 12px; font-weight: normal; margin: 0; }*/
/*ul { margin-left: 20px; }*/
/*ol { margin-left: 36px; }*/


/*
	----------------------------
	LAYOUT
	____________________________
*/

/*#wrapper { width: 960px; margin: 0 auto; padding: 48px 0 72px; } */
#wrapper { width: 480px; margin: 0 auto; padding: 48px 0 72px; }
/*#main { width: 640px; float: left; }*/
/*#main > p, #main > div { margin-left: 7px; }*/
/*#sidebar { width: 280px; float: right; }*/
/*#sidebar ol { margin: 12px 0 12px 22px; }*/
/*
	----------------------------
	PAGE/SECTION SPECIFIC
	____________________________
*/


#video-controls { width: 100%; position: fixed; bottom: 0; z-index: 100; padding-bottom: 0; margin-bottom: 0;
    -webkit-box-shadow: 0px -4px 5px 0px rgba(50, 50, 50, 0.81);
    -moz-box-shadow:    0px -4px 5px 0px rgba(50, 50, 50, 0.81);
    box-shadow:         0px -4px 5px 0px rgba(50, 50, 50, 0.81);}
#video-controls a { color: #ddd; text-decoration: underline; }


/*
	----------------------------
	UTILITY CLASSES
	____________________________
*/


.black-15 { background: url(../media/black-15-trans.png); color: #fff; }
.black-35 { background: url(../media/black-35-trans.png); color: #fff; }
.black-50 { background: url(../media/black-50-trans.png); color: #fff; }
.black-65 { background: url(../media/black-65-trans.png); color: #fff; }
.black-85 { background: url(../media/black-85-trans.png); color: #fff; }


.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

.hidden {
    display: none;
}
form {
    text-align: right;
    padding-right: 12.5%;
}
/*label {*/
    /*width: 40%;*/
/*}*/

input,textarea {
    width: 60%;
}